*.d
*.o
*.so
*.a

oracles/src/osrm/build
gen-graph/tests/*
!gen-graph/tests/test.osm
!gen-graph/tests/test.osm2
.idea
cmake-build-debug

gen-graph/CMakeLists.txt
oracles/CMakeLists.txt
./CMakeLists.txt
